body{
    font-family:"ＭＳ Ｐゴシック",sans-serif;
    font-size: 18px;
    background-color: #7ae;
    background-image: url(./Css_image/kadai08_bkline.jpg);
    background-repeat: repeat-x;
    background-position:left top;
}
h1{
    color:#ccf;
    font-size: 1.4em;
    padding-bottom: 10px;
}

h2,
h3{
    color: #fff;
    font-size: 1em;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #c30;
}

p{
    line-height:1.2;
}

#container{
    background-image: url(./Css_image/kadai08_standards.png);
    background-position: right top;
    background-repeat: no-repeat;
}

#content_top,#content_bottom{
    text-indent: 1em;
    padding: 10px 5px 0px 10px;
}

.border{
    border-right: 1px dotted #fff;
    border-bottom: 1px dotted #fff;
}